{% extends 'base.html' %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="box">
                        <form action="/mytask/{{ task.task_id }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="columns">
                                <div class="column is-three-quarters">
                                    <h3 class="title is-4">{{ task.task_name }} </h3>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Type:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.task_type }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">State:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.state }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Reward:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.reward }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Worker:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.final_worker }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Deadline:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.deadline }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Requirements:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.worker_requirement }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Detail:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.detail }}
                                </div>
                            </div>

                            <br><br>
                            {% if task.final_solution %}

                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <label class="label">FinalSolution:</label>
                                    </div>
                                    <div class="field-body ">
                                        {{ task.final_solution }}
                                    </div>
                                </div>
                                <br>
                            {% else %}
                                <h3 class="title is-4">Commit </h3>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Solutions</label>
                                    </div>
                                     <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" name="solution" type="file"
                                                   value="">
                                        </div>
                                    </div>
                                </div>

{#                                    <div class="field-body">#}
{#                                        <div class="field">#}
{#                                            <div class="control">#}
{#                                                <input class="input" name="solution" type="text"#}
{#                                                       placeholder="give the filepath of solution" value="">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Encryption</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input type="radio" name="flag" value="yes"/> yes
                                            <input type="radio" name="flag" value="no"/> no
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Public Key</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" name="public_key" type="text"
                                                       placeholder="give the user name of public key" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <div class="content is-small">
                                                <span class="gradient-highlight">Please note that all submitted products go through an approval process.</span>
                                            </div>
                                            <input class="button is-success" type="submit" value="Commit">
                                        </div>
                                    </div>
                                </div>
                            </div>

<br>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Download</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control">
                                                <a class="button is-success" href="/download">download solution</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}