{% extends 'base.html' %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="box">
                        <form action="/mytask/{{ task.id }}" method="post" accept-charset="UTF-8">
                            {% csrf_token %}

                            <div class="columns">
                                <div class="column is-three-quarters">
                                    <h3 class="title is-4">{{ task.name }} </h3>
                                </div>
{#                                <div class="column">#}
{#                                    <div class="field">#}
{#                                        <div class="control">#}
{#                                            <input class="button is-primary" type="submit" value="Join">#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>


                            <h3 class="title is-5">Type: {{ task.task_type }}</h3>

                            <h3 class="title is-5">State: {{ task.state }}</h3>

                            <h3 class="title is-5">Detail: {{ task.detail }}</h3>


                            <h3 class="title is-5">Reward: {{ task.reward }}</h3>

                            <h3 class="title is-5">Worker: {{ task.final_worker }}</h3>
                            <h3 class="title is-5">Deadline: {{ task.deadline }}</h3>

                            <h3 class="title is-5">Requirments</h3>
                            <p>{{ task.worker_requirement }}</p>
                        <br>
                            {% if task.final_solution %}
                            <h3 class="title is-5">FinalSolution</h3>
                            <p>{{ task.final_solution }}</p>
                                <br>
                            {% else %}
                             <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Solutions</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <textarea class="textarea" name="solution" placeholder="your solution"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="field" align="center">
                                        <div class="control">
                                            <input class="button is-primary" type="submit" value="Commit">
                                        </div>
                             </div>
                            {% endif %}

                          <br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}