{% extends 'base.html' %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="box">
                        <form action="/jointask/{{ task.id }}" method="post" accept-charset="UTF-8">
                            {% csrf_token %}

                            <div class="columns">
                                <div class="column is-three-quarters">
                                    <h3 class="title is-4">{{ task.name }} </h3>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <input class="button is-primary" type="submit" value="Join">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Type:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.task_type }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">State:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.state }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Reward:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.reward }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Receive Time:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.receive_time }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Deadline:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.deadline }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Detail:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.detail }}
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label">Requirements:</label>
                                </div>
                                <div class="field-body ">
                                    {{ task.worker_requirement}}
                                </div>
                            </div>

                            <br>

                            <h3 class="title is-4">Work Record</h3>
                            {% for record in records %}
                                <h3 class="title is-5">Requester: {{ record.requester }}</h3>
                                <h3 class="title is-5">Worker: {{ record.worker }}</h3>
                                <h3 class="title is-5">Type: {{ record.type }}</h3>
                                <h3 class="title is-5">PostTime: {{ record.time }}</h3>


                                <br><br><br>
                            {% endfor %}
                        </form>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <a class="button" href="/download">download data</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}